@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Primary colors
$Cyan: hsl(179, 62%, 43%);
$Cyan-light: #4abebd;
$bright_yellow: hsl(71, 73%, 54%);

// ### Neutral

$light_gray: hsl(204, 43%, 93%);
$grayish_blue: hsl(218, 22%, 67%);

body {
	font-family: 'Karla', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: 100vh;
	margin: 0 auto;
	background-color: gray;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 270px);
	grid-template-rows: 170px 200px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

	.card {
		padding: 27px;

		&__main__title {
			margin-bottom: 20px;
			color: $Cyan;
			font-weight: 600;
		}

		&__box-1 {
			grid-column: 1 / span 2;
			background-color: #fff;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			padding-right: calc(23px + 30px);

			.card__title {
				color: $bright_yellow;
				margin-bottom: 17px;
			}

			.card__desc {
				color: $grayish_blue;
				line-height: 1.6;
			}
		}
		&__box-2 {
			background-color: $Cyan;
			color: #fff;
			border-bottom-left-radius: 7px;

			.card__title {
				margin-bottom: 13px;
				font-weight: 600;
			}

			.card__desc {
				font-size: 12px;

				&--top {
					display: flex;
					align-items: center;
					margin-bottom: 9px;
				}

				&--strong {
					font-size: 27px;
					padding-right: 10px;
				}

				&--span {
					color: $Cyan-light;
					font-weight: 600;
				}

				&--small {
					display: block;
					padding-bottom: 10px;
					color: $light_gray;
				}
			}

			.card__btn {
				width: 91%;
				border: none;
				border-radius: 7px;
				padding: 12px;
				margin-top: 10px;
				color: #fff;
				background-color: $bright_yellow;
			}
		}
		&__box-3 {
			background-color: $Cyan-light;
			color: $light_gray;
			padding-right: calc(23px + 57px);
			border-bottom-right-radius: 7px;

			.card__title {
				padding-bottom: 9px;
				color: #fff;
				font-weight: 600;
			}
			.card__descs {
				font-size: 11px;
				line-height: 0.7;
			}
		}
	}
}
